.custom-navbar {
  background: linear-gradient(to right, #0f2027, #2c5364);
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.custom-navbar .navbar-brand {
  color: #ffffff !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-navbar .nav-link {
  color: #ffffff !important;
  font-weight: 600;
  margin-left: 1rem;
  padding: 8px 15px;
}

.custom-navbar .nav-link:hover {
  color: #dcc4c9 !important;
  font-weight: 700;
  transform: scale(1.20);
}


.custom-navbar .nav-link.active {
  color: #dcc4c9 !important;
  font-weight: 700;
  transform: scale(1.20);
}
